APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
configparser==5.0.2
cryptg==0.2.post2
greenlet==1.0.0
hachoir==3.1.2
idna==2.10
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
python-telegram-bot==13.4.1
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
SQLAlchemy==1.4.4
telegram==0.0.1
telegram-upload==0.4.0
telegramApi==1.5
Telethon==1.21.1
toml==0.10.2
tornado==6.1
tzlocal==2.1
urllib3==1.26.4
